<div class="ml-6">
<h1 class="title is-2"><%= @sector.name %></h1>
<p class='mb-5'>
    <%= pluralize @sector.companies.count, "company" %> within Top 109 Nasdaq companies in this sector
</p>
<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Symbol</th>
      <th>Market Cap</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.symbol %></td>
        <td>$<%= company.market_cap %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>