<hr>
<footer>
<p>
<em>Copywrite by High-Tech Companies on NASDAQ</em>
</p>
<ul class="mt-3">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Companies', companies_path %></li>
  <li><%= link_to 'Industries', industries_path %></li>
  <li><%= link_to 'Sectors', sectors_path %></li>
  <li><%= link_to 'About', about_index_path %></li>
</ul>
</footer>